{% extends 'common.html' %}
{% block menu_place %}

    {% include 'home_menu.html' %}
{% endblock %}

{% block content_place %}
    {% load static %}



<div class="container">
    <div class="p-4 m-4">
        <div class="row">
        <p class="text-left"><i class="fa fa-map-marker" aria-hidden="true"></i> 2nd Floor, Sri Sai Arcade, Beside Aditya Trade Centre, Ameerpet, Hyderabad- Telengana <br></br>State, PIN-500 038. INDIA</p>
        <p class="text-center"> <i class="fa fa-phone" aria-hidden="true"></i> IND: +91 9100920092 , +91 9100940094.</p>
        <p class="text-right"><i class="fa fa-envelope" aria-hidden="true"></i> info@sathyatech.com</p>
        <p class="text-right">Monday – Saturday: 7 AM to 9 PM (IST)</p>
     </div>
    </div>
</div>
{% endblock %}