{% extends 'common.html' %}
{% block menu_place %}

    {% include 'home_menu.html' %}
{% endblock %}

{% block content_place %}
    {% load static %}
    <div class="m-4">
    <img src="{% static 'images/resume.jpg' %}" width="1200">
    </div>

{#    <table align="center" border="2">#}
{#      <tr>#}
{##}
{##}
{#          <th>#}
{#              <img src="{% static 'images/resume.jpg' %}" width="1200" height="500">#}
{#          </th>#}
{#      </tr>#}
{#    </table>#}
    {% load static %}

{% endblock %}