<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <div class="menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Home</a>
        </li>
              </div>
        <div class="menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Registration_page' %}">Registration</a>
        </li>
              </div>
        <div class="menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        </div>
          <div class="menu">
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">View Profile</a></li>
            <li><a class="dropdown-item" href="#">Update Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Delete Profile</a></li>
          </ul>
          </div>
          <div class="menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
        </li>
        </div>
          <div class="menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About Us</a>
        </li>
        </div>


        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>