{% extends 'common.html' %}

{% block menu_place %}
    <style>
    .menu{
        background-color: orangered;
          border: black;
          border-radius: 10px;
          border-style: solid;
          margin: 10px;
    }
    </style>
    {% include 'menu.html' %}

{% endblock %}

{% block content_place %}
    <form action="{% url 'user_registration' %}"method="post">
    {% csrf_token %}


   <table align="center" border="0" width="800" >
     <tr><th colspan="2" style="background-color: orangered;color: white;font-size: 10px">
<h1 style="text-align: center"> Registration Page</h1></th></tr>
       <tr><th>{{ form.name.label }}</th>
           <th>{{ form.name }}</th>
       </tr>
       <tr><th>{{ form.contact_no.label }}</th>
           <th>{{ form.contact_no }}</th>
       </tr>
       <tr><th>{{ form.Email_id.label }}</th>
           <th>{{ form.Email_id }}</th>
       </tr>
       <tr><th>{{ form.password.label }}</th>
           <th>{{ form.password }}</th>
       </tr>
       <tr>
           <th><input type="hidden" name="otp" required="" id="id_otp" value="0"></th>
       </tr>


  <tr><th style="text-align: right"><button type="submit" class="btn btn-primary">save</button></th></tr>

   </table>
    </form>

{% endblock %}